.Header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 64px;

  background-color: white;
  box-shadow: 0 1px 1px #A2A2A2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px;
}

.Header__home-link {
  text-decoration: none;
  font-size: 1.4rem;
}

.Header__logos {
  display: flex;
  align-items: center;
}

.Header img {
  height: 2rem;
  margin-right: 10px;
  width: auto;
}

.Header__home-link, .Header__home-link:visited {
  color: #FF3D00;
}

.Header__sell-link {
  text-decoration: none;
  color: #FF3D00;
  border: thin solid #FF3D00;
  border-radius: 5px;
  padding: 10px;
}

.Header__sell-link:hover {
  background-color: #FF3D00;
  color: white;
}